:host {
  mat-card-header {
    .mat-card-header-text{
      margin: 0;
      display: block !important;
    }
  }
}
mat-list.mat-list.mat-list-base.list-horizontal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  mat-list-item {
    display: contents;
  }
}
.item-container {
  padding: 1rem;
}
.audio-game-card {
  max-width: 20rem;
  margin: 0 auto;
}
.mat-card-header {
  height: 60px;
}
.img-card-container {
  height: 234px;
  // overflow: hidden;
  background: url('../../../../../../../assets/images/qwest.png') center no-repeat;
}
.mat-card-image:first-child {
  margin-top: 0 !important;
}

