<div class="savannah" [class.is-dark]="!play">
  <app-game-savannah-head
    *ngIf="play && !openStatistics"
    [gameSavannahStatus]="gameSavannahStatus"
    (changeStatus)="changeGameSavannahStatus($event)"
    (restartGame)="openRestartGameDialog()"
  ></app-game-savannah-head>
  <div class="savannah__body">
    <app-games-start-banner
      *ngIf="!play && !openStatistics && paused"
      [banner]="banner"
      (startGame)="startGame()"
    >
      <div class="savannah__lang">
        <span
          *ngFor="let item of langs"
          [class.is-active]="gameSavannahStatus.currentLang === item"
          (click)="changeLang(item)"
          >{{ item }}</span
        >
        <mat-icon
          class="savannah__lang-arrow"
          [class.is-reverse]="gameSavannahStatus.currentLang === 'en'"
          >keyboard_backspace
        </mat-icon>
      </div>
    </app-games-start-banner>
    <app-game-savannah-list
      *ngIf="play && !openStatistics && !paused"
      [currentWord]="currentWord"
      [answers]="answers"
      [answer]="getAnswer()"
      [isPaused]="isPaused"
      [time]="'--time: ' + animationTime + 's'"
      (checked)="checkAnswer($event)"
    ></app-game-savannah-list>
    <app-games-end
      *ngIf="openStatistics && !play"
      [words]="words"
      [gameResult]="gameResult"
      (submitResult)="submitResult($event)"
    ></app-games-end>
  </div>
</div>

<app-full-screen-for-games></app-full-screen-for-games>
