<div class="savannah" [class.is-dark]="!play">
  <app-game-savannah-head
    *ngIf="play && !openStatistics"
    [gameSavannahStatus]="gameSavannahStatus"
    (changeStatus)="changeGameSavannahStatus($event)"
    (restartGame)="openRestartGameDialog()"
  ></app-game-savannah-head>
  <div class="savannah__body">
    <app-games-start-banner
      *ngIf="!play && !openStatistics && paused"
      (startGame)="startGame()"
    ></app-games-start-banner>
    <!-- <app-game-savannah-start-banner
      *ngIf="!play && !openStatistics && paused"
      [gameSavannahStatus]="gameSavannahStatus"
      (startGame)="startGame()"
      (changeLang)="changeLang($event)"
    ></app-game-savannah-start-banner> -->
    <app-game-savannah-list
      *ngIf="play && !openStatistics && !paused"
      [currentWord]="currentWord"
      [answers]="answers"
      [answer]="getAnswer()"
      [isPaused]="isPaused"
      [time]="'--time: ' + animationTime + 's'"
      (checked)="checkAnswer($event)"
    ></app-game-savannah-list>
    <app-games-end
      *ngIf="openStatistics && !play"
      [words]="words"
      [gameResult]="gameResult"
      (submitResult)="submitResult($event)"
    ></app-games-end>
    <!-- <app-game-savannah-statistics
      *ngIf="openStatistics && !play"
      [words]="words"
      (repeatGame)="restartGame()"
    ></app-game-savannah-statistics> -->
  </div>
</div>

<app-full-screen-for-games></app-full-screen-for-games>
