<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
    [opened]="false"
  >
    <div class="menu_header">
      <mat-toolbar>Menu</mat-toolbar>
      <button type="button" aria-label="Close sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav close icon">close</mat-icon>
      </button>
    </div>
    <mat-nav-list (click)="drawer.toggle()">
      <a mat-list-item [routerLink]="this.path.Empty">Start Page</a>
      <a mat-list-item [routerLink]="this.path.Cards">Cards</a>
      <a mat-list-item [routerLink]="this.path.Games">Games List</a>
      <a mat-list-item [routerLink]="this.path.Dictionary">Dictionary</a>
      <a
        mat-list-item
        [routerLink]="this.path.Profile"
        href="#"
        [disabled]="(isAuth$ | async) === false"
        >Profile</a
      >
      <a mat-list-item [routerLink]="this.path.AboutUs">About Us</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>rslang</span>
      <div class="space"></div>
      <ng-template [ngIf]="isAuth$|async" [ngIfThen]="loginBlock" [ngIfElse]="log"> </ng-template>
      <ng-template #log>
        <a [routerLink]="[path.Registration]" class="link">Register</a>
        <a routerLink="/" class="link">Sign In</a>
      </ng-template>
      <ng-template #loginBlock>
        <div class="block_user">
          <img
            *ngIf="(user$|async).photo"
            class="avatar"
            [src]="'https://andey-rslang-back-end.herokuapp.com/' + (user$|async).photo"
          />
          <span class="greet">Hello, {{(user$|async).name}}</span>
          <button mat-raised-button color="accent" (click)="onLogout()">LogOut</button>
        </div>
      </ng-template>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
