<mat-card class="card">
  <form [formGroup]="userData" (ngSubmit)="onSubmit()">
    <mat-card-title>Registration</mat-card-title>
    <mat-card-content [class.card-content]="true">
      <div class="example-1">
        <div class="form-group">
          <label class="label">
            <i class="material-icons">attach_file</i>
            <span class="title"
              >{{userData.value.filedata ? userData.value.filedata : 'add Avatar'}}</span
            >
            <input
              formControlName="filedata"
              name="filedata"
              type="file"
              (change)="onFileChange($event,'filedata')"
            />
          </label>
        </div>
      </div>
      <mat-form-field appearance="fill" class="input">
        <mat-label>Name</mat-label>
        <input formControlName="name" name="name" type="text" matInput required />
      </mat-form-field>
      <mat-form-field appearance="fill" class="input">
        <mat-label>Email</mat-label>
        <input formControlName="email" name="email" type="email" matInput required />
        <mat-error *ngIf="this.userData.controls.email.invalid"
          >{{getErrorEmailMessage()}}</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill" class="input">
        <mat-label>Password</mat-label>
        <input formControlName="password" name="password" type="password" matInput required />
        <mat-error *ngIf="this.userData.controls.password.invalid"
          >{{getErrorPasswordMessage()}}</mat-error
        >
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Register</button>
      <button mat-raised-button color="primary" (click)="goBack()">Back</button>
    </mat-card-actions>
  </form>
</mat-card>
