<div class="game-field">
  <div cdkDropListGroup class="game">
    <div class="item-container">
      <div
        class="item-list"
        id="pictures"
        cdkDropList
        [cdkDropListData]="imagesArray"
        [cdkDropListEnterPredicate]="noReturnPredicate"
      >
        <div
          cdkDrag
          class="item-box"
          *ngFor="let item of imagesArray"
          [cdkDragData]="item"
          (cdkDragStarted)="started($event, item?._id)"
          (cdkDragDropped)="dropped($event)"
        >
          <p class="imgblock">
            <img [src]="'https://andey-rslang-back-end.herokuapp.com/' + item.image" />
            <span>{{item.wordTranslate}}</span>
          </p>
        </div>
      </div>
    </div>

    <div class="item-container">
      <ng-container *ngFor="let item of wordsArray">
        <div
          cdkDropList
          class="item-list"
          [cdkDropListData]="item"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListEnterPredicate]="enterPredicate"
        >
          <div cdkDrag class="item-box" [cdkDragDisabled]="true">
            {{item.word | uppercase}}
            <div class="inside"></div>
          </div>
        </div>
      </ng-container>
    </div>

    <div>
      <mat-card>
        <mat-card-title>Score:</mat-card-title>
        <mat-card-content>
          <p>{{ score }}</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="try-amount">
        <mat-card-title>Try:</mat-card-title>
        <mat-card-content>
          <p>{{ tryCount }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<button mat-raised-button (click)="openDialog()">Open</button>
