<mat-card>
  <mat-card-content>
    <div class="details-total">
      <p>Your score: {{ data.score }}</p>
      <p>Your try: {{data.try}}</p>
    </div>
  </mat-card-content>
  <mat-card-content class="unsolved-words-align">
    <div>
      <mat-list role="list" *ngFor="let item of data.unsolved; let i = index;">
        <mat-list-item role="listitem">
          <p>
            <span>&#10060;</span>{{ data.unsolved[i].word }} - {{ data.unsolved[i].wordTranslate }}
          </p>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
<mat-card-actions>
  <button mat-raised-button color="primary" mat-dialog-close (click)="dialogPlayAgainClick();">
    Play again
  </button>
  <button mat-raised-button color="warn" mat-dialog-close (click)="dialogExitClick();">
    Exit game
  </button>
</mat-card-actions>
