:root{
  padding: 1rem;
}
.end-game-manage {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}

table {
  width: calc(100% - 2rem);
  margin: 1rem auto;
}

th.mat-sort-header-sorted {
  color: black;
}
