<mat-card
  class="example-card"
  [ngStyle]="{'background': word.userWord?.difficulty === 'hard' ? 'red' : colorRGB(color)}"
>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{word.word}}</mat-card-title>
      <mat-card-subtitle>{{word.transcription}}</mat-card-subtitle>
      <mat-card-subtitle>{{word.wordTranslate}}</mat-card-subtitle>
    </mat-card-title-group>
    <img
      mat-card-md-image
      [src]="'https://andey-rslang-back-end.herokuapp.com/' + word.image"
      alt="Photo of a Shiba Inu"
    />
    <div class="group-button">
      <button
        mat-mini-fab
        color="accent"
        aria-label="Example icon button with a home icon"
        title="play"
        (click)="play ? stopAudio() :playAudio()"
      >
        <mat-icon>{{play ? 'pause_circle_outline' : 'play_circle' }}</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="accent"
        aria-label="Example icon button with a home icon"
        [title]="word.userWord?.difficulty === 'hard' ? 'add card to easy' : 'add card to hard'"
        (click)="word.userWord?.difficulty === 'hard' 
        ? addDifficultyWord(word._id, 'easy', !word.userWord) 
        : addDifficultyWord(word._id, 'hard', !word.userWord)"
      >
        <mat-icon>
          {{word.userWord?.difficulty === 'hard' ? 'remove_circle_outline' : 'add_circle_outline'}}
        </mat-icon>
      </button>
      <button
        mat-mini-fab
        color="accent"
        aria-label="Example icon button with a home icon"
        title="delete card"
        (click)="addDifficultyWord(word._id, 'deleted', !word.userWord)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <h3>{{word.textExample}}</h3>
    <em>{{word.textExampleTranslate}}</em>
    <h3>{{word.textMeaning}}</h3>
    <em>{{word.textMeaningTranslate}}</em>
  </mat-card-content>
</mat-card>
