:root {
  display: block;
  flex: 1;
  padding: 1rem;
}

.games-end {
  margin: 0 auto 100px;

  &__table {
    width: 700px;
    max-width: 95vw;
    margin: 1rem auto;

    .games-end__table-result {
      max-width: 120px;
    }

    th.mat-sort-header-sorted {
      color: black;
    }
  }
}

.end-game-manage {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}
