<div class="stats-wrapper">
  <mat-card class="stats-card">
    <mat-card-content>
      <h2>Daily statistics</h2>
      <p>Learned words number: {{stats.totalLearned}}</p>
      <p>Right answers percent: {{stats.totalRightPercent}} %</p>
      <div>
        <p>Longest series</p>
        <p>Savanna: {{stats.longestSeries.savanna}}</p>
        <p>Sprint: {{stats.longestSeries.sprint}}</p>
        <p>Audio: {{stats.longestSeries.audio}}</p>
        <p>My game: {{stats.longestSeries.myGame}}</p>
      </div>
      <div>
        <p>Daily status</p>
        <p>Number of learned words: {{stats.dailyStatus.learned}}</p>
        <p>Right answers percent: {{stats.dailyStatus.rightPercent}} %</p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="stats-card">
    <mat-card-content>
      <h2>Global statistics</h2>
      <p>graph 1: ever day words</p>
      <p>graph 2: grows rate</p>
    </mat-card-content>
  </mat-card>
</div>
