<div style="min-height: calc(100vh - 128px)">
  <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onChangeSection($event)">
    <mat-tab *ngFor="let tab of tabs" label="{{tab.label}}">
      <ng-template matTabContent>
        <app-dictionary-tab
          [words$]="words$"
          [totalCount$]="totalCount$"
          [group]="tab.group"
          [color]="tab.color"
          (changePageEvent)="onChangePage($event)"
          (changeGroupEvent)="onChangeGroup($event)"
        ></app-dictionary-tab>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
