:host {
  height: 100%;
}

.example-card {
  box-sizing: border-box;
  max-width: 60vw;
  height: calc( 100% - 40px);
  margin: 20px auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-progress-bar{
  max-width: 70vw;
  margin: 20px auto;
}

img{
  max-width: 20vh;
  background-size: cover;
  max-height: 20vh;

}

.example-form-field {
  width: 200px;
}