<div class="savannah__title">
  <h1>Саванна</h1>
</div>
<div class="savannah__help">
  <div class="savannah__help-title">
    Мини-игра «Саванна» - это тренировка по переводу пассивного изученного словаря в активную
    стадию.
  </div>
  <div class="savannah__help-subtitle">
    <p>
      После запуска игры вы увидите падающее слово на английском (или русском, если режим игры RU->
      EN) и четыре варианта перевода. Выбрать правильный ответ можно двумя способами:
    </p>
    <p>1. Кликните по нему мышью;</p>
    <p>2. Используйте клавиши 1, 2, 3, 4.</p>
  </div>
</div>
<div class="savannah__button-wrapper">
  <button class="savannah__button--start" (click)="startGameEmmiter()">
    <mat-icon>flag</mat-icon>
    <span>Играть</span>
  </button>
</div>
