<div class="games-sprint-main">
  <mat-card class="main-field">
    <mat-card-content>
      <img mat-card-image src="assets/images/sprint.png" alt="Running man" />
      <h2>Sprint</h2>
      <h4>The rules:</h4>
      <p>
        You are going to play the game 'Sprint'. You'll see cards with a word written in English and
        some translation. You should recollect if this translation matches the English word. If it
        does - press the button 'TRUE', if doesn't - pree the button 'FALSE'. Be quick, you have
        just one minute! Make a series of true answers and receive more points.
      </p>
      <p>Good luck!</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="goBack()">Return back</button>
      <button mat-raised-button color="primary" routerLink="/games/sprint/play">PLAY</button>
    </mat-card-actions>
  </mat-card>
</div>
