<div class="games-sprint-main">
  <mat-card class="main-field">
    <mat-card-content>
      <img mat-card-image src="assets/images/sprint.png" alt="Running man">
      <h2>Спринт</h2>
      <h4>Правила игры:</h4>
      <p>Перед вами игра "Спринт". Вы увидете карточку со словом на английском языке и перевод. Вам нужно понять, соответствует ли перевод слову на английском. Если соответстует - жмите кнопку "ВЕРНО"; если не соответствует - жмите кнопку "НЕВЕРНО". Спешите -  у вас есть только 60 секунд! Угадывайте несколько слов подряд и получайте больше очков.</p>
      <p>Удачи!</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="goBack()">Назад</button>
      <button mat-raised-button color="primary" routerLink='/games/sprint/play'>Играть</button>
    </mat-card-actions>
  </mat-card>
</div>
