<div class="game-start-content">
  <div class="sprint__title">
    <h1>Спринт</h1>
  </div>
  <div class="sprint__help">
    <div class="sprint__help-title">Мини-игра «Спринт» - это тренировка для повторения слов.</div>
    <div class="sprint__help-subtitle">
      <p>
        Перед вами игра "Спринт". Вы увидете карточку со словом на английском языке и перевод. Вам
        нужно понять, соответствует ли перевод слову на английском. Если соответстует - жмите кнопку
        "ВЕРНО" (или клавишу 1); если не соответствует - жмите кнопку "НЕВЕРНО" (или клавишу 2).
        Спешите - у вас есть только 60 секунд! Угадывайте несколько слов подряд и получайте больше
        очков. Трижды за игру вы можете воспользоваться подсказкой - жмите кнопку "Подсказка" (или
        клавишу 3).
      </p>
    </div>
  </div>
  <div class="sprint__button-wrapper">
    <button class="sprint__button--start" routerLink="/games/sprint/play">
      <mat-icon>flag</mat-icon>
      <span>Играть</span>
    </button>
  </div>
</div>
