<div class="games-sprint-card">
  <mat-card class="example-card">
    <mat-card-content *ngIf="word">
      <h2>{{word.word}}</h2>
      <!--<div *ngFor="let translation of translations">-->
        <p>{{translation.wordTranslate}}</p>
      <!--</div>-->
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onAgree(word.word, translation.wordTranslate)">TRUE</button>
      <button mat-button (click)="onDisagree(word.word, translation.wordTranslate)">FALSE</button>
    </mat-card-actions>
  </mat-card>
</div>


