.content {
  text-align: center;
}

mat-card {
  width: 80%;
}

mat-card-header {
  width: auto;
  background-color: #f9f9ff;
}

mat-card-content {
  background-color: #ebeae5;
}

mat-card-content p {
  text-align: center;
}

mat-card-title {
  color: #3b3b36;
}

img {
  width: 100%;
}
