<div class="content">
  <h1>Наша команда:</h1>
  <mat-grid-list [cols]="cols" rowHeight="200px">
    <mat-grid-tile *ngFor="let item of aboutUs | async">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <img [src]="item.imagePath" alt="{{ item.name }}" />
          </div>
          <mat-card-title>{{ item.name + " " + item.surname }}</mat-card-title>
          <mat-card-subtitle>{{ item.role }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ item.contribution }}</p>
          <p><a href="{{ item.url }}">GitHub</a></p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
