<div>
  <h1>Daily statistics</h1>
  <h2>Savanna</h2>
  <p>Leaned words: {{shortData.savanna.learned}}</p>
  <p>Right answers: {{shortData.savanna.right / shortData.savanna.tries * 100}} %</p>
  <p>Longest series: {{shortData.savanna.series}}</p>
  <h2>Sprint</h2>
  <p>Leaned words: {{shortData.sprint.learned}}</p>
  <p>Right answers: {{shortData.sprint.right / shortData.savanna.tries * 100}} %</p>
  <p>Longest series: {{shortData.sprint.series}}</p>
  <h2>Audio</h2>
  <p>Leaned words: {{shortData.audio.learned}}</p>
  <p>Right answers: {{shortData.audio.right / shortData.savanna.tries * 100}} %</p>
  <p>Longest series: {{shortData.audio.series}}</p>
  <h2>My game</h2>
  <p>Leaned words: {{shortData.myGame.learned}}</p>
  <p>Right answers: {{shortData.myGame.right / shortData.savanna.tries * 100}} %</p>
  <p>Longest series: {{shortData.myGame.series}}</p>
</div>
