<div class="savannah__settings">
  <button
    type="button"
    class="savannah__settings-sound"
    aria-label="on/off sound"
    mat-icon-button
    (click)="changeSound()"
  >
    <mat-icon>{{ gameSavannahStatus.sound ? 'volume_up' : 'volume_off' }}</mat-icon>
  </button>

  <div class="savannah__settings-button" (click)="restart()">
    <mat-icon>autorenew</mat-icon>
  </div>
  <div class="savannah__settings-lang">
    <span
      *ngFor="let item of langs"
      [class.is-active]="gameSavannahStatus.currentLang === item"
      (click)="changeLang(item)"
      >{{ item }}</span
    >
  </div>
  <!-- <div class="savannah__settings-level">
    <mat-select [formControl]="gameLevels" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let level of levels" [value]="level">
        {{level.name}}
      </mat-option>
    </mat-select>
    <select matNativeControl required [formControl]="gameLevels">
      <option *ngFor="let level of levels" [value]="level">{{level.name}}</option>
    </select>
  </div> -->
</div>
<div class="savannah__progress">
  <div *ngFor="let heart of attempts; let i = index" class="savannah__progress-heart">
    <mat-icon>{{ i + 1 > gameSavannahStatus.errors ? 'favorite' : 'favorite_border' }}</mat-icon>
  </div>
  <div class="savannah__progress-chart">
    <div *ngIf="gameSavannahStatus.wordsCount" class="savannah__progress-count">
      {{ gameSavannahStatus.wordsCount + ' / ' + gameSavannahStatus.currentCounts + ' / ' +
      gameSavannahStatus.errors }}
    </div>
    <div
      *ngIf="gameSavannahStatus.progressAll"
      class="savannah__progress-chart_inner"
      [ngStyle]="{ width: gameSavannahStatus.progressAll }"
    ></div>
    <div
      *ngIf="gameSavannahStatus.progressError"
      class="savannah__progress-chart_error"
      [ngStyle]="{ width: gameSavannahStatus.progressError }"
    ></div>
  </div>
</div>
