<div class="savannah" [class.is-dark]="!play">
  <app-game-savannah-head
    *ngIf="play && !statictics"
    [gameSavannahStatus]="gameSavannahStatus"
    (changeStatus)="changeGameSavannahStatus($event)"
    (restartGame)="restartGame()"
  ></app-game-savannah-head>
  <div class="savannah__body">
    <app-game-savannah-start-banner
      *ngIf="!play && !statictics"
      (startGame)="startGame()"
    ></app-game-savannah-start-banner>
    <app-game-savannah-list
      *ngIf="play && !statictics && !paused"
      [currentWord]="currentWord"
      [answers]="answers"
      [time]="'--time: ' + animationTime + 's'"
      (checked)="checkAnswer($event)"
    ></app-game-savannah-list>
    <app-game-savannah-statictics
      *ngIf="statictics && !play"
      [words]="words"
      (repeatGame)="restartGame()"
    ></app-game-savannah-statictics>
  </div>
</div>
