<div class="gs-statistics">
  <div class="gs-statistics__title">Ваш результат:</div>
  <div class="gs-statistics__subtitle">{{ subTitle }}</div>
  <div class="gs-statistics__body">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Слово</th>
          <th>Перевод</th>
          <th>Результат</th>
          <th></th>
        </tr>
      </thead>
      <ng-container *ngFor="let item of words; let i = index">
        <tr *ngIf="item.hasOwnProperty('statistics')">
          <td>{{ i + 1 }}</td>
          <td>{{ item.word }}</td>
          <td>{{ item.wordTranslate }}</td>
          <td>{{ item.statistics ? '+' : '-' }}</td>
          <td>
            <button
              mat-mini-fab
              color="accent"
              aria-label="Example icon button with a home icon"
              title="play"
              (click)="playCurrentWord(i)"
            >
              <mat-icon
                >{{ (play && currentWord === i) ? 'pause_circle_outline' : 'play_circle'
                }}</mat-icon
              >
            </button>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
  <div class="gs-statistics__footer">
    <div class="gs-statistics__button" (click)="repeat()">
      <mat-icon>reply</mat-icon>
      <span>Тренировать еще раз</span>
    </div>
  </div>
</div>
