.gs-statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 600px;
  max-height: 75vh;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 40px;
  box-shadow: 0 0 15px 5px rgba(white, .3);
  background-color: rgba(white, .3);

  @media (max-width: 768px) {
    width: 100vw;
    height: calc(100vh - 120px);
    max-height: 100vh;
    padding: 10px;
    border-radius: 0;
    box-sizing: border-box;
    border: none;
  }

  &__title {
    margin: 0 0 15px;
    font-size: 27px;
    text-align: center;

    @media (max-width: 1024px) {
      font-size: 24px;
    }
  }

  &__subtitle {
    margin: 0 0 30px;
    font-size: 22px;
    text-align: center;

    @media (max-width: 1024px) {
      font-size: 18px;
    }
  }

  &__body {
    flex: 1;
    overflow-y: auto;

    table {
      width: 100%;
      font-size: 18px;

      th {
        border-top: 1px solid #eee;
      }

      th,
      td {
        padding: 5px;
        text-align: left;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #eee;
      }

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  &__footer {
    padding: 20px 0 0;
    text-align: center;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    border: 2px solid blue;
    border-radius: 30px;
    color: blue;
    cursor: pointer;
    transition: background-color .3s ease-in-out;

    &:hover {
      background-color: #fff;
    }

    span {
      font-size: 22px;
    }

    .mat-icon {
      width: 32px;
      height: 32px;
      font-size: 32px;
    }

    @media (max-width: 768px) {
      padding: 5px 30px;

      span {
        font-size: 19px;
      }
    }
  }
}
