mat-grid-tile {
    margin: 10px;
  }
  
  mat-card {
    width: 60%;
    margin: 0 auto;

    &-header {
      width: auto;
      background-color: #f9f9ff;
    }

    &-content {
      background-color: #ebeae5;
    }

    &-title {
      color: #3b3b36;
    }
  }
  
  img {
    width: 50%;
  
    @media (max-width: 600px) {
      width: 40%;
    }
  }
  