mat-card {
  margin-top: 3rem;
}

mat-card-actions {
  margin-top: 3rem;
}

mat-card-title,
mat-card-actions {
  text-align: center;
}

.details-total {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-total p {
  font-size: 14px;
}

.unsolved-words-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}
