<div class="stats-wrapper">
  <mat-card class="stats-card">
    <mat-card-content>
      <h2>Daily statistics</h2>
      <p>Learned words: {{stats.totalLearned}}</p>
      <p>Right answers: {{stats.totalRightPercent}} %</p>
      <div>
        <p>Longest series</p>
        <p>Savanna: {{stats.longestSeries.savanna}}</p>
        <p>Sprint: {{stats.longestSeries.sprint}}</p>
        <p>Audio: {{stats.longestSeries.audio}}</p>
        <p>My game: {{stats.longestSeries.myGame}}</p>
      </div>
      <div>
        <p>Daily status</p>
        <p>Learned words: {{stats.dailyStatus.learned}}</p>
        <p>Right answers: {{stats.dailyStatus.rightPercent}} %</p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="graph-card">
    <mat-card-content>
      <h2>Global statistics: {{checkedStyle}}</h2>

      <app-profile-chart [checkedStyle]="checkedStyle"></app-profile-chart>

      <mat-radio-group
        aria-labelledby="radio-group-label"
        class="radio-group"
        [(ngModel)]="checkedStyle"
      >
        <mat-radio-button class="radio-button" [value]="daily">{{daily}}</mat-radio-button>
        <mat-radio-button class="radio-button" [value]="total">{{total}}</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
</div>
