:host {
  position: relative;
  flex: 1;
  padding: 2rem;
  background-color: #fff;
}
.content{
    position: relative;
    height: 100%;
    text-align: center;
    margin: 1rem auto;
    max-width: 20rem;

    .start-button {
        margin: 1rem auto;
    }

    .icons {
        display: flex;
        justify-content: space-between;

        .flex {
            display: flex;
            justify-content: left;
            font-size: 1.4rem;

            div {
                align-self: center;
            }
        }
    }

    .help-button {
        margin-top: 0.5rem;
    }
}

p {
    text-align: center;
}
