<app-audio-challenge-item [wordState]="wordState | async"></app-audio-challenge-item>
<app-audio-challenge-game-manage [wordState]="wordState | async"></app-audio-challenge-game-manage>
<app-audio-challenge-game-start [wordState]="wordState | async"></app-audio-challenge-game-start>
<app-audio-challenge-game-end [wordState]="wordState | async"></app-audio-challenge-game-end>

<app-full-screen-for-games></app-full-screen-for-games>
<app-audio-challenge-game-close-pause
  [wordState]="wordState | async"
></app-audio-challenge-game-close-pause>
